#root {
    width: 800px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}

.board {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
}

.board div:nth-child(1) {
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.board div:nth-child(2),
.board div:nth-child(3) {
    border-top: 2px solid black;
}

.board div:nth-child(2) {
    border-right: 2px dotted black;
}

.board div:nth-child(4) {
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.board div:nth-child(6) {
    border-right: 2px dotted black;
}

.board div:nth-child(9) {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.board div:nth-child(10),
.board div:nth-child(11) {
    border-bottom: 2px solid black;
}

.board div:nth-child(10) {
    border-right: 2px dotted black;
}

.board div:nth-child(12) {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}